---
import {work} from '../languages/es.json';
const {name ,position, date,summary} = work[0];
const {name : name1,position : position1, date : date1,summary : summary1, info: info1} = work[1];
const {name : name2,position : position2, date : date2,summary : summary2, info: info2} = work[2];




---
<section class="container px-5 mb-5" id="experience">
    <h3 class="mb-4">Experiencia</h3>
    
    <article class="card mb-4">
        <h5>{name}</h5>
        <p class="small secondary m-0">{position}</p>
        <p class="small secondary mb-1">{date}</p>
        <p>{summary}</p>
    </article>


    <article class="card mb-4">
        <h5>{name1}</h5>
        <p class="small secondary m-0">{position1}</p>
        <p class="small secondary mb-1">{date1}</p>
        <p>{summary1}</p>
        <div class="d-flex gap-4">
            <a class="btns" href={info1?.git} target="_blank"><i class="bi bi-github small"></i> Git Hub </a>
            <a class="btns" href={info1?.linkedin} target="_blank"><i class="bi bi-linkedin small"></i> Info</a>
        </div>
       
    </article>

    
    <article class="card mb-4">
        <h5>{name2}</h5>
        <p class="small secondary m-0">{position2}</p>
        <p class="small secondary mb-1">{date2}</p>
        <p>{summary2}</p>
        <div class="d-flex gap-4">
            <a class="btns" href={info2?.git} target="_blank"><i class="bi bi-github small"></i> Git Hub </a>
            <a class="btns" href={info2?.linkedin} target="_blank"><i class="bi bi-linkedin small"></i> Info</a>
        </div>
       
    </article>


    

  
    
</section>


<style>

    .secondary{
        color : var(--secondaryText);
    }

    .card{
        border-radius: 15px;
        border: 1px solid var(--strongerText);
        background-color: var(--cardBg);
        padding: 20px;
        transition: .2s;
        
    }

    .card:hover{
        scale: 1.01;

    }


    .card:hover{

    }

    h5,h3{
        color: var(--strongerText);
    }

    p{
        color: var(--mainText);
    }

    .btns{
        height: 36px;
        padding: 5px;
        width: 126px;
        border-radius: 15px;
        background-color: var(--strongerText);
        text-align: center;
        text-decoration: none;
        color: #000000;
    }

    .btns:hover{
        opacity: .8;
    }
</style>