---
import {basics} from '../languages/es.json';
const {name,label, img,summary,profiles } = basics;

---

<section>
    <div class="container" id="home">
		<div class="row">


            <div class="col-md-6 col-sm-12 order-md-2 order-sm-1 ps-4 pt-5" style="max-height: 450px;">
				<img class="col-12 center" src={img} style="object-fit: contain; height: 100%;" alt="">
			</div>

			<div class="col-md-6 order-sm-2 order-md-1 px-5 pt-lg-5 ">
				<h3 class="pt-md-5 mt-5 ">{name} <br>
                    <strong style="color: ;">{label}</strong>
                </h3>
                 <p >
                    {summary}
                </p>

                <div class="pt-2 mb-5">
                    <a class="socialM" href={profiles[1].url}> <i class="bi bi-github fs-4  pe-3"></i></a>
                    <a class="socialM" href={profiles[0].url} target="_blank"><i class="bi bi-linkedin fs-4 pe-3"></i></a>
            
                </div>

			</div>

       

			

		</div>
		

	</div>
</section>

<style>
    p, h3{
		color: var(--mainText);
	}

    strong, a i{
        color: var(--strongerText);
    }

    .container{
        min-height: 100vh;
    }

    @media (max-width: 991.98px) { 
        .container{
            min-height: auto;
        }


}

    @media (max-width: 577px){
        .container {
            min-height: 100vh;
        }
    }

    .socialM:hover{
    
        opacity: .8;
    
    }
    
</style>